/** Root Styles */
:root {
    --sp-btn-bg: #0078d4;
    --sp-btn-bg-hover: #106ebe;
    --sp-btn-bg-active: #005a9e;
    --sp-btn-text: #fff;
}

.bs .bg-sharepoint {
    background-color: var(--sp-btn-bg) !important;
}

/** Edit Links Button SVG */
.edit-btn-img {
    margin: 0 0.25rem 0.1rem -0.25rem;
}

.icon-btn {
    min-width: 0px;
}

/** Link Icon */
.link-icon {
    background-color: var(--sp-btn-bg);
    border-radius: .25rem;
    color: var(--sp-btn-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    margin: 2.5px 5px;
    padding: .25rem;
    text-decoration: none;
    width: 90px;

    svg {
        height: 32px;
        margin: auto;
        padding-top: 0.5rem;
        width: 32px;
        path {
            fill: var(--sp-btn-text);
        }
    }
}

/** Link Icon Hover, Active, Visited, & Tippy Tooltip text color*/
.link-icon:hover, .link-icon:active, .link-icon:visited, .tippy-box {
    color: var(--sp-btn-text);
    text-decoration: none;
}

/** Link Icon Hover */
.link-icon:hover {
    background-color: var(--sp-btn-bg-hover);
}

/** Link Icon Active */
.link-icon:active {
    background-color: var(--sp-btn-bg-active);
}

/** Link Text */
.link-text {
    display: -webkit-box;
    margin: auto;
    overflow: hidden;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* OffCanvas Visiblity */
#core-canvas .offcanvas.show {
    z-index: 1060;
}

#LinkIcon textarea {
    border-color: #6c757d;
    border-radius: var(--bs-border-radius);
}

/* Tippy Tooltip SharePoint theme color */
.tippy-box[data-theme~='sharepoint'] {
    background-color: var(--sp-btn-bg);
}
.tippy-box[data-theme~='sharepoint'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--sp-btn-bg);
}
.tippy-box[data-theme~='sharepoint'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--sp-btn-bg);
}
.tippy-box[data-theme~='sharepoint'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--sp-btn-bg);
}
.tippy-box[data-theme~='sharepoint'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--sp-btn-bg);
}